= content_for :css_placeholder do
  = stylesheet_link_tag 'manifests/home'
= content_for :js_placeholder do
  = javascript_include_tag 'manifests/home'



%header
  .header-wrapper.text-center
    .container
      .row
        .alert-container.col-md-6.col-md-offset-3
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{class: "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                = content_tag :div, msg, :id => "flash_#{name}"
      .row
        .global-nav-logo.center-block.visible-xs.mobile-header

      .row.header
        .col-sm-4
          %h4 Visit Us
          %address
            %p
              %span{"data-toggle" => "modal", "data-target" => "#mapModal"} 8555 Highway 238
              %br Jacksonville, OR 97530
              %a{:href =>"tel:+15418991746"}541.899.1746
          .divider
        .col-sm-4
          %h4 Tasting Room Hours
          %p
            12-5pm every day
            %br
            contact@longswordvineyard.com
          .divider
        .col-sm-4
          %h4 Forecast
          .weather-wrapper
            .weather{:class=> "weather-#{@icon}" + ((@after_sunset && @before_sunrise) ? "-night" : "")}
            %p.forecast
              Currently: #{@current_temp}&#186;F, #{@current_weather}
              %br
              #{@after_close ? "Tomorrow: #{@high_tomorrow}" : "Later: #{@high}"}&#186;F
          .divider
      .cover-container.billboard.row.hidden-xs

.main-wrapper
  #navbar.navbar.navbar-inverse{role: "navigation"}
    .container
      .navbar-header
        %button#nav-toggle.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span
        %a.navbar-brand{:href => "#"}
          .global-nav-logo
      .collapse.navbar-collapse.scrollspy-target
        %ul.nav.navbar-justified
          %li
            %a{href: "#visit", "data-close-nav" => "true"} Visit Longsword
            -#%ul.sublist.hidden-xs
            -#  %li
            -#    %a{href: "#patio"} Tasting room and patio
            -#  %li
            -#    %a{href: "#vineyard"} Vineyard
            -#  %li
            -#    %a{href: "#parasailing"} Parasailing
          %li
            %a{href: "#wines", "data-close-nav" => "true"} Our Wines
          %li
            %a{href: "#about", "data-close-nav" => "true"} About Us
          %li.contact-link
            %a#contact{href: "javascript:void(0)"} Contact
    #contact-tray
      .container
        .row
          .col-md-5.col-md-offset-3.col-sm-7.col-sm-offset-2#contact-form
            = form_tag(send_mail_path) do
              .row
                .form-left
                  .email
                    = email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email'
                  .name
                    = text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name'
                .form-right
                  = text_area_tag 'comments', nil, class: 'form-control', placeholder: 'Message'
              .row
                = submit_tag nil, class: 'form-control btn btn-default btn-about pull-right', id: 'submit', value: 'Send message to LongSword'
                %a.close-contact Close
          .col-md-2.col-sm-3.col-sm-2.facebook
            %a.hidden-xs{:href => "https://www.facebook.com/pages/Longsword-Vineyard/140545862685725", :target => "_blank"}
              .global-facebook
              %p For up to the minute offers and updates, visit us on Facebook!

  #visit
    .container
      %section.visit
        .row
          .col-md-3.sidebar.hidden-xs.hidden-sm.roses
          .col-sm-12.col-xs-12.col-md-9.content
            %h1.section-title Visit Longsword
            %p.lead LongSword is a breathtaking Chardonnay and Pinot Noir vineyard located in the heart of the Applegate Valley.
            %p A pleasant 15 minute drive from downtown Jacksonville, LongSword features table-ready wines that are distinctly approachable, charming, and complex.
            %hr
            %h3 Here's a sampling of the lovely things Longsword has to offer!
            .row
              .col-sm-3.col-xs-6
                %a{:href => "#patio"}
                  .global-patio.offerings
                  %h4 Tasting Room and Patio
              .col-sm-3.col-xs-6
                %a{:href => "#vineyard"}
                  .global-boys.offerings
                  %h4 The Vineyard
              .clearfix.visible-xs
              .col-sm-3.col-xs-6
                %a{:href => "#parasailing"}
                  .global-parasail.offerings
                  %h4 Parasailing
              .col-sm-3.col-xs-6
                %a{:href => "#wines"}
                  .global-grapes.offerings
                  %h4 Specialty Wines

      .global-divider.center-block
      %section#patio.tasting-room.sub-section
        .row
          .col-sm-4.sidebar
            %h1.section-title.visible-xs Tasting room and patio
            .slider-wrapper
              .slider-controls
                .global-arrow-left
                .global-arrow-right
              .slider
                - 11.times do |i|
                  %img.lazy{:height => "450", "src" => image_path("patio/#{i+1}.jpg")}
          .col-sm-8.content
            %h1.section-title.hidden-xs Tasting room and patio
            %p.lead Enjoy chatting with locals as you sample our wines in the tasting room or grab a bottle and spend a relaxing afternoon on the patio.
            %p Either way you'll be enchanted by breath-taking views of the vineyard and the surrounding mountains. Tastings are only $5 and lingering is encouraged.

      .global-divider.center-block
      %section#vineyard.vineyard.sub-section
        .row
          .col-xs-12
            %h1.section-title Vineyard and Menagerie
            .slider-wrapper
              .slider-controls
                .global-arrow-left
                .global-arrow-right
              .slider
                - 10.times do |i|
                  %img{"src" => image_path("vineyard/#{i+1}.jpg")}
            %p.lead Nestled between the Siskiyou, Cascade, and Coastal mountain ranges, LongSword encompasses 10 acres of Chardonnay and Pinot Noir vines and 12 acres of natural beauty.
            %p Thanks to the vineyard's unique microclimate, LongSword enjoys sunshine 360 days a year. Guests are often greeted by a delightful collection of farm animals that call LongSword home: 40 Plymouth Barred Rocks chickens, 3 Pilgrim geese (led by the recalcitrant Boris), Will Feral (the elusive barn cat), and three Baby Doll Southdown sheep aptly named Einstein, Newton, and Hawking.

      .global-divider.center-block
      %section#parasailing.parasailing.sub-section
        .row
          .col-sm-4.sidebar
            %h1.section-title.visible-xs Parasailing
            .slider-wrapper
              .slider-controls
                .global-arrow-left
                .global-arrow-right
              .slider
                - 6.times do |i|
                  %img{:height => "450", "src" => image_path("parasailing/#{i+1}.jpg")}
          .col-sm-8.content
            %h1.section-title.hidden-xs Parasailing
            %p.lead On any given afternoon, odds are you’ll see the colorful sails of hang gliders and parasailers growing large in the sky as they descend from Woodrat Mountain.
            %p Work your way through a bottle, and you'll probably even witness a daredevil landing or two in the field in front of the tasting room!
            %hr
            %h3 Interested in taking the plunge? Visit rvhpa.org to schedule a tandem flight and then land at LongSword for a glass of wine to celebrate your bravery.


  .global-divider.center-block
  %section#wines
    .container
      .row
        .col-md-12.content
          %h1.section-title Our wines
          %p.lead This summer we are offering three varietals that can only be purchased at LongSword Vineyard.
          .row
            .col-sm-4
              .global-patio
              %h3 Accolade
              %p An enchanting, lightly sparkling Chardonnay known as "the wedding wine," Accolade delights and charms the palette for any occasion by combining playful notes of citrus with just a hint of sweetness for a truly effervescent experience!
            .col-sm-4
              .global-parasail
              %h3 Invitation
              %p Elegant and lively, Invitation is a unique non-oaked Chardonnay that pairs bright citrus and crisp mineral flavors with lovely notes of pear and melon to create a delightfully well-balanced, food-friendly wine.

            .col-sm-4
              .global-boys
              %h3 Phrase
              %p Beautifully rich and dark, Phrase features fragrant notes of blackberries and violets that unfurl into a spicy cardamom and pepper finish to create an unforgettable medium-bodied Pinot Noir.

  .global-divider.center-block
  %section#about
    .container
      .row
        .col-sm-4.sidebar
          %h1.section-title.visible-xs.visible-sm About Us
          .slider-wrapper
            .slider-controls
              .global-arrow-left
              .global-arrow-right
            .slider
              - 4.times do |i|
                %img{"src" => image_path("story/#{i+1}.jpg")}
        .col-sm-8.content
          %h1.section-title.hidden-xs.hidden-sm About Us
          %p.lead After thirty years working in the corporate world, Matthew Sorensen decided to trade in his suit and tie for jeans and work boots and head West. Armed with a degree in biochemistry, an MBA, an unquenchable love of wine, and a fencing hobby, Matt set to work on creating LongSword Vineyard.
          %p From farm to bottle, Matt skillfully crafts each and every LongSword wine. As farmer, owner, and vintner of LongSword, he is passionate about producing wines that will delight and inspire his guests.
          %p Matt would like to thank the Applegate community, Tony, Teresa, Lola, and Rogue for their generosity in supporting his dream.
  %footer
    .container
      .row
        .col-sm-3.col-xs-6
          %h3 Visit Us
          %p
            8555 Highway 238
            %br Jacksonville, OR 97530
          %p
            %a.see-map{:href => "#", "data-toggle" => "modal", "data-target" => "#mapModal"} see it in the map &rarr;

        .col-sm-3.col-xs-6
          %h3 Tasting Room
          %p
            Open 12pm - 5pm every day
        .clearfix.visible-xs
        .col-sm-3.col-xs-6
          %h3 Contact Us
          %p
            %a{:href =>"tel:+15418991746"}541.899.1746
            %br contact@longsword.com
          %a{:href => "https://www.facebook.com/pages/Longsword-Vineyard/140545862685725", :target => "_blank"}
            .global-facebook-sm
        .col-sm-3.col-xs-6
          %h3 Credits
          %p
            &#169 2012-2013. LongSword Vineyard.
            %br All Rights Reserved.
            Photography by Kate Vangeloff
            %br Site Design by Jen Dorman
            Coded by Nathan Green
%script{src: "http://maps.google.com/maps/api/js?v=3&sensor=false", type: "text/javascript"}

.modal.fade#mapModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title
          LongSword is located at
          %a{:target => "_blank", :href => "https://goo.gl/maps/YBqYc"} 8555 Highway 238, Jacksonville, OR 97530
      .modal-body
        #gmap_canvas{style: "height:350px;"}

        .closeModal{"data-dismiss" => "modal", type: "button"} Close


