= content_for :css_placeholder do
  = stylesheet_link_tag 'manifests/home'
= content_for :js_placeholder do
  = javascript_include_tag 'manifests/home'

.header-wrapper.text-center
  .container
    .row.header
      .col-md-4
        %h4 Visit Us
        %address
          %p
            8555 Highway 238, Jacksonville, OR 97530
            %br
            541.899.1746
      .col-md-4
        %h4 Tasting Room Hours
        %p
          12-5pm every day
          %br
          contact@longswordvineyard.com
      .col-md-4
        %h4 Forecast
        .weather.pull-left{:class=> "weather-#{@icon}" + ((@after_sunset && @before_sunrise) ? "-night" : "")}
        %p.forecast
          Currently: #{@current_temp}&#186;F, #{@current_weather}
          %br
          #{@after_close ? "Tomorrow: #{@high_tomorrow}" : "Later: #{@high}"}&#186;F
    .cover-container.billboard.row

  #navbar.navbar.navbar-inverse{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.navbar-brand{:href => "#"}
        .global-nav-logo
      .collapse.navbar-collapse.scrollspy-target
        %ul.nav.navbar-justified
          %li
            %a{href: "#visit"} Visit Longsword
            %ul.sublist
              %li
                %a{href: "#patio"} Tasting room and patio
              %li
                %a{href: "#vineyard"} Vineyard and menagerie
              %li
                %a{href: "#parasailing"} Parasailing
          %li
            %a{href: "#wines"} Our Wines
          %li
            %a{href: "#about"} About Us
          %li.contact-link
            %a#contact{href: "javascript:void(0)"} Contact
    #contact-tray
      .container
        .row
          .col-md-5.col-md-offset-3#contact-form
            = form_tag(send_mail_path) do
              .row
                .form-left
                  .email
                    = email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email'
                  .name
                    = text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name'
                .form-right
                  = text_area_tag 'comments', nil, class: 'form-control', placeholder: 'Message'
              .row
                = submit_tag nil, class: 'form-control btn btn-default btn-about pull-right', id: 'submit'
                %a.close-contact Close
          .col-md-2.facebook
            .global-facebook
            %p For up to the minute offers and updates, visit us on Facebook!



#visit
  .container
    %section.visit
      .row
        .col-md-3.sidebar
          .roses
        .col-md-9.content
          %h1.section-title Visit Longsword
          %p.lead LongSword is a breathtaking Chardonnay and Pinot Noir vineyard located in the heart of the Applegate Valley.
          %p A pleasant 15 minute drive from downtown Jacksonville, LongSword features table-ready wines that are distinctly approachable, charming, and complex.
          %hr
          %h3 Here's a sampling of the lovely things Longsword has to offer!
          .row
            .col-md-3
              .global-patio
              %h4 Tasting Room and Patio
            .col-md-3
              .global-parasail
              %h4 Parasailing
            .col-md-3
              .global-boys
              %h4 The Vineyard and Menagerie
            .col-md-3
              .global-grapes
              %h4 Specialty Wines
    .global-divider.center-block
    %section#patio.tasting-room.sub-section
      .row
        .col-md-4.sidebar
          .slider-wrapper
            .slider-controls
              .global-arrow-left
              .global-arrow-right
            .slider
              - 11.times do |i|
                %img{:src => image_path("patio/#{i+1}.png")}
        .col-md-8.content
          %h1.section-title Tasting room and patio
          %p.lead Enjoy chatting with locals as you sample our wines in the tasting room or grab a bottle and spend a relaxing afternoon on the patio.
          %p Either way you'll be enchanted by breath-taking views of the vineyard and the surrounding mountains. Tastings are only $5 and lingering is encouraged.

    .global-divider.center-block
    %section#vineyard.vineyard.sub-section
      .row
        .col-md-12.content
          %h1.section-title Vineyard and Menagerie
          .slider-wrapper
            .slider-controls
              .global-arrow-left
              .global-arrow-right
            .slider
              - 13.times do |i|
                %img{:src => image_path("vineyard/#{i+1}.png")}
          %p.lead Nestled between the Siskiyou, Cascade, and Coastal mountain ranges, LongSword encompasses 10 acres of Chardonnay and Pinot Noir vines and 12 acres of natural beauty.
          %p Thanks to the vineyard's unique microclimate, LongSword enjoys sunshine 360 days a year. Guests are often greeted by a delightful collection of farm animals that call LongSword home: 40 Plymouth Barred Rocks chickens, 3 Pilgrim geese (led by the recalcitrant Boris), Will Feral (the elusive barn cat), and three Baby Doll Southdown sheep aptly named Einstein, Newton, and Hawking.
    .global-divider.center-block
    %section#parasailing.parasailing.sub-section
      .row
        .col-md-3.sidebar
          .slider-wrapper
            .slider-controls
              .global-arrow-left
              .global-arrow-right
            .slider
              - 6.times do |i|
                %img{:src => image_path("parasailing/#{i+1}.png")}
        .col-md-9.content
          %h1.section-title Parasailing
          %p.lead On any given afternoon, odds are you’ll see the colorful sails of hang gliders and parasailers growing large in the sky as they descend from Woodrat Mountain.
          %p Work your way through a bottle, and you'll probably even witness a daredevil landing or two in the field in front of the tasting room!
          %p.text-muted ----
          %h3 Interested in taking the plunge? Visit rvhpa.org to schedule a tandem flight and then land at LongSword for a glass of wine to celebrate your bravery.


.global-divider.center-block
%section#wines
  .container
    .row
      .col-md-12.content
        %h1.section-title Our wines
        %p.lead This summer we are offering three varietals that can only be purchased at LongSword Vineyard.
        .row
          .col-md-4
            .global-patio
            %h3 Accolade
            %p An enchanting, lightly sparkling Chardonnay known as "the wedding wine," Accolade delights and charms the palette for any occasion by combining playful notes of citrus with just a hint of sweetness for a truly effervescent experience!
          .col-md-4
            .global-parasail
            %h3 Invitation
            %p Elegant and lively, Invitation is a unique non-oaked Chardonnay that pairs bright citrus and crisp mineral flavors with lovely notes of pear and melon to create a delightfully well-balanced, food-friendly wine.

          .col-md-4
            .global-boys
            %h3 Phrase
            %p Beautifully rich and dark, Phrase features fragrant notes of blackberries and violets that unfurl into a spicy cardamom and pepper finish to create an unforgettable medium-bodied Pinot Noir.

.global-divider.center-block
%section#about
  .container
    .row
      .col-md-4.sidebar
        .slider-wrapper
          .slider-controls
            .global-arrow-left
            .global-arrow-right
          .slider
            - 4.times do |i|
              %img{:src => image_path("story/#{i+1}.png")}
      .col-md-8.content
        %h1.section-title About Us
        %p.lead A brief story about the establishment of LongSword, and the passion that inspires Matt to improve it every day.
        %p A bit more about the history, maybe some key people? Mostly, this should be a biography about Matt as his story relates to LongSword. Definitely worth mentioning the fencing.
%footer
  .container
    .row
      .col-md-3
        %h3 Visit Us
        %p
          8555 Highway 238
          %br Jacksonville, OR 97530
        %p
          %a{:href => "#"} see it in the map &rarr;

      .col-md-3
        %h3 Tasting Room
        %p
          Open 12pm - 5pm every day
      .col-md-3
        %h3 Contact Us
        %p
          541.899.1746
          %br contact@longsword.com
        .global-facebook-sm
      .col-md-3
        %h3 Credits
        %p
          &#169 2012-2013. LongSword Vineyard.
          %br All Rights Reserved.
          Photography by Kate Vangeloff
          %br Site Design by Jen Dorman
          Coded by Nathan Green