!!!
/[if lt IE 7] <html class="ie lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="ie lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="ie lt-ie9" lang="en">
/[if IE 9 ]> <html lang="en" class="ie lt-ie10">
:plain
  <!--[if (gt IE 9)|!(IE)]>
%html{:lang => "en"}
  :plain
    <![endif]-->
  %head
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width, user-scalable=no" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes"}

    %title LongSword Vineyard
    = yield :css_placeholder

  %body
    = yield
    = yield :end_of_body_placeholder

    = yield :js_placeholder
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', "#{ENV['GOOGLE_ANALYTICS']}", 'auto');
      ga('send', 'pageview');

